@import "tailwindcss";

@theme {
  --grid-app: minmax(18rem, 20rem) 1fr;
  --grid-profile: max-content 1fr min-content;
  --grid-form: minmax(7.5rem, 17.5rem) minmax(25rem, 1fr) minmax(0, 15rem);

  --violet-25: #fcfaff;
  --error-25: #FFFBFA;
  --error-50: #FEF3F2;
  --error-100: #FEE4E2;
  --error-200: #FECDCA;
  --error-300: #FDA29B;
  --error-400: #F97066;
  --error-500: #F04438;
  --error-600: #D92D20;
  --error-700: #B42318;
  --error-800: #912018;
  --error-900: #7A271A;

}

@layer utilities {
  .animate-slideDownAndFade {
    animation: slideDownAndFade 800ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  /* .animate-slideUpAndFade {
    animation: slideUpAndFade 1s linear;
  } */
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: "translateY(-2)";
  }
  to {
    opacity: 1;
    transform: "translate(0)";
  }
}

/* @keyframes slideUpAndFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */
